<!DOCTYPE html>
<html>
    <body> 
        <main>
            <div class="signup-container">
                <div class="sign-up">
                <%= form_tag("/login") do %>
                    <div class="login-input">
                        <h2>ログイン</h2>
                        <p>メールアドレス</p>
                        <input id="userid" name="email" type="text" placeholder="メールアドレス" value="<%= @email %>">
                        <p>パスワード</p><%= link_to("パスワードを忘れた方はこちら","/login") %>
                        <input id="password" name="password" type="password" placeholder="パスワード">
                        <input type="submit" class="long-btn login-submit" value="ログイン">
                    </div>
                <% end %>
                    <div class="login-input-option">
                        <h3 class="or-separater">or</h3>
                        <a href="/signup" class="sns-long-btn login-line">
                            <i class="fas fa-plus"></i>
                            LINEでアカウントで登録
                        </a>
                        <a href="https://www.facebook.com/" class="sns-long-btn login-facebook">
                            <i class="fab fa-facebook-f"></i>
                            Facebookでアカウントで登録
                        </a>
                        <a href="https://www.twitter.com/" class="sns-long-btn login-twitter">
                            <i class="fab fa-twitter"></i>
                             Twitterアカウントで登録
                        </a>
                        <a href="https://www.apple.com/" class="sns-long-btn login-apple">
                            <i class="fab fa-apple"></i>
                            Appleでサインアップ
                        </a>
                        <p>＊利用者の許可なく外部サービスに使用されることはありません</p>
                    </div>
                    <div class="signup-link">
                        <%= link_to("会員登録がお済みでない方はこちら","/signup") %>    
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>