<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>ADonation</title>
        <link rel="stylesheet" href="cmn/css/stylesheet.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    </head>
    <body>
        <header>
            <a href="/" class="header-logo">ADoNation</a>
            <form action="/projects" method="get">
             <input id="search" id="s" name="s" type="text" placeholder="キーワード検索"/>
             <button type="submit" id="kensaku"><i class="fas fa-search"></i></button>
            </form>
                <div class="header-list">
                    <ul>
                        <a href="/signup">新規登録</a>
                        <a href="/login">ログイン</a>
                        <a href="/contact">お問い合わせ</a>
                        <a href="/newproject">プロジェクトを掲載する</a>
                        <a href="/first">初めての方へ</a>
                    </ul>
                </div>
        </header>   
        <main>
            <div class="test">これは会社概要ページです。</div>
        </main>
        <footer>
            <a href="/" class="footer-logo">ADoNation</a>
            <div class="footer-list">
                <ul>
                    <l><a href="/aboutus">会社概要</a></l>
                    <li><a href="/recruitment">採用</a></li>
                    <lis><a href="/contact">お問い合わせ</a></lis>
                </ul>
            </div>
        </footer>
    </body>
</html>