<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>ADonation</title>
        <link rel="stylesheet" href="app/assets/stylesheets/stylesheet.scss">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    </head>
    <body>   
        <main>
            <div class="top-wrapper">
                <div class="container">
                    <h1>Want to Donate?</h1>
                    <h1>Want to Support?</h1>
                    <p>ADoNationは全く新しいクラウドファンディングです。</p>
                    <p>example</p>
                    <div class="btn-wrapper">
                        <a href="/signup" class="btn1 signup">
                            <i class="fas fa-plus"></i>
                            新規登録はこちら
                        </a>
                        <p>or sign up with</p>
                        <a href="https://www.facebook.com/" class="btn1 facebook">
                            <i class="fab fa-facebook-f"></i>
                            Facebookで登録
                        </a>
                        <a href="https://www.twitter.com/" class="btn1 twitter">
                            <i class="fab fa-twitter"></i>
                            Twitterで登録
                        </a>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>