<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>ADonation</title>
        <link rel="stylesheet" href="app/assets/stylesheets/stylesheet.scss">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    </head>
    <body>   
        <main>
            <div class="main-top-wrapper">
                <div class="rotateplace">
                </div>
                <div class="adcontainer">
                    <a href="/choose_ad" class="btn playad">
                        広告を再生
                    </a>
                </div>
                <div class="project-list">
                    <% @projects.each do |project| %>
                    <div class="hot-project">
                        <ul>
                            <li>
                                <%=link_to(project.content, "/projects/#{project.id}") %>
                            </li> 
                        </ul>
                    </div>
                    <% end %>
                    <div class="popular-project">
                        ここに人気プロジェクトが表示されます
                    </div>
                    <div class="resent-project">
                        ここに新着プロジェクトが表示されます。
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>
