<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>ADonation</title>
        <link rel="stylesheet" href="app/assets/stylesheets/stylesheet.scss">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    </head>
    <body>   
        <main>
            <div class="main-top-wrapper">
                <div class="adcontainer">
                    <% if @current_user %>
                        <a href="/choose_ad" class="btn playad">
                            広告を再生
                        </a>
                    <% else %>
                        <a href="/ad" class="btn playad">
                            広告を再生
                        </a>
                    <% end %>
                </div>
                <div class="project-list">
                    <div class="popular-project">
                        <p>ここに人気プロジェクトが表示されます</p>
                    </div>
                    <div class="resent-project">
                        <p>ここに新着プロジェクトが表示されます。</p>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>
