<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>ADonation</title>
        <link rel="stylesheet" href="cmn/css/stylesheet.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    </head>
    <body>   
        <main>
            <%= form_tag("/projects/create") do %>
                <div class="form">
                    <div class="submit-project">
                        <h1>内容を入力してください。</h1>
                        <textarea name="content"></textarea>
                        <input type="submit" value="投稿">
                    </div>
                </div>
            <% end %>
        </main>
    </body>
</html>