<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>ADonation</title>
        <link rel="stylesheet" href="cmn/css/stylesheet.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    </head>
    <body>   
        <main>
            <div class="test">これは採用ページです。</div>
        </main>
    </body>
</html>