<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>ADonation</title>
        <link rel="stylesheet" href="cmn/css/stylesheet.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    </head>
    <body>   
        <main>
            <div class="project-container">
                <div class="project-show-item">
                    <p>
                        <%= @project.content %>
                    </p>
                    <div class="project-time">
                        <%= @project.created_at %>
                    </div>
                    <div class="project-menus">
                        <%= link_to("編集", "/projects/#{@project.id}/edit") %>
                        <%= link_to("削除", "/projects/#{@project.id}/destroy", {method:"post"}) %>
                </div>
            </div>
        </main>
    </body>
</html>