<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>ADonation</title>
        <link rel="stylesheet" href="cmn/css/stylesheet.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    </head>
    <body> 
        <main>
            <div class="signup-container">
                <div class="sign-up">
                    <div class="login-input">
                        <h2>新規会員登録</h2>
                        <p>あなたのメールアドレス</p>
                        <form action="/login" method="get">
                            <input id="userid" id="s" name="s" type="text" placeholder="メールアドレス"/>
                        </form>
                    </div>
                        <div class="login-btn-wrapper">
                            <a href="/login"><input type="submit" class="long-btn login-submit" value="確認メールを送信"></a>
                            <p class="or-separater">or</p>
                            <a href="/signup" class="sns-long-btn login-line">
                                <i class="fas fa-plus"></i>
                                LINEでアカウントで登録
                            </a>
                            <a href="https://www.facebook.com/" class="sns-long-btn login-facebook">
                                <i class="fab fa-facebook-f"></i>
                                Facebookでアカウントで登録
                            </a>
                            <a href="https://www.twitter.com/" class="sns-long-btn login-twitter">
                                <i class="fab fa-twitter"></i>
                                Twitterアカウントで登録
                            </a>
                            <a href="https://www.apple.com/" class="sns-long-btn login-apple">
                                <i class="fab fa-apple"></i>
                                Appleでサインアップ
                            </a>
                            <p class="readme">＊利用者の許可なく外部サービスに使用されることはありません</p>
                        </div>
                        <div class="signup-link">
                            <a href="/login">すでにアカウントをお持ちの方はこちら</a>
                        </div>
                </div>
            </div>
        </main>
    </body>
</html>